@model string[]
@{
    ViewBag.Title = "Index";
}
@section header{
    <div class="view">
        @foreach (var item in new[] {"Home","List","Pear" })
        {
            @Html.ActionLink(item, item, null, new { style = "margin: 5px" });
        }
    </div>
}

<div class="view">
    this is a lsit of fruit names:
    @foreach (var item in Model)
    {
        <span><b>@item</b></span>
    }
</div>

@section footer{
    <div>
        this is the footer
    </div>
    }